*{
    font-family:monospace;
    font-weight:bolder;
    font-size:15px;
}
body{
    background:#a8dadc;
    padding:20px;
    border:2px solid white;
    border-radius:20px;
}
.container{
    background:#f1faee;
    padding:10px;
    border:2px solid white;
    border-radius:20px;
    width:clamp(200px,50%,aut0);
    color:blue;
    opacity:0.8;
}
fieldset{
    background:#eae2b7;
    padding:20px;
    border-radius:30px;
}
legend{
    font-family:cursive;
}
:focus{
    border:2px solid black;
    border-radius:30px;
}

input,label,p,select{
    display:inline-block;
    position:relative;
    left:250px;
}
input{
    background:transparent;
    outline:none;
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom-style:2px solid black;
}
input[type="radio"],input[type="checkbox"]{
    accent-color:orange;
}
button:hover{
    background:tomato;
}
button{
    padding:5px;
    position:relative;
    top:10px;
    left:450px;
}
input[type="file"]{
    font-size:10px;
}
input[type="email"]:valid{
    color:lightgreen;
}
body{
    background-image:url(nature.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
@media only screen and (max-width:870px){
    input,label,p,select{
    display:inline-block;
    position:relative;
    left:100px;
}
    button{
    padding:5px;
    position:relative;
    top:10px;
    left:200px;
}
}
@media only screen and (max-width:720px){
    input,label,p,select{
    display:inline-block;
    position:relative;
    left:10px;
        
}
    button{
    padding:5px;
    position:relative;
    top:10px;
    left:60px;
}
}



















